@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.paragraph--form-text{
    font-size: 48px;
    width: 466px;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
.paragraph--banner-text{
    max-width: 598px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin: 0;
    position: relative;
    left: -35%;
}