@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.imageElement--logoAWS {
  max-width: 500px;
}
.imageElement--logo-phone-img{
    max-width: 240px;
}
.imageElement--logo-header{
    margin-left: 20px;
}
.imageElement--logo-phone-img {
  max-width: 240px;
}
.imageElement--img-banner{
  width: 100%;
  height: 300px;
  opacity: 0.9
}
.imageElement--background-benefits{
  width: 1150px;
  height: auto;
  margin: 0 20px 40px;
}

/*Estilizando scrollbar*/
::-webkit-scrollbar{
  width: 8px;
  height: 6px;
  background-color: #e5eaef;
}

::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background-color: #727272;
  scroll-behavior: smooth;
  animation: scroll 10s linear 1s infinite;
}
