@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.imageElement--logoAWS {
  max-width: 500px;
}
.imageElement--logo-phone-img {
  max-width: 240px;
}
.imageElement--logo-header {
  margin-left: 20px;
}
.imageElement--logo-phone-img {
  max-width: 240px;
}
.imageElement--img-banner {
  width: 100vw;
  height: 300px;
  opacity: 0.9;
}
.imageElement--background-benefits {
  width: 1150px;
  height: auto;
  margin: 0 20px 40px;
}
.imageElement--cover {
  object-fit: cover;
}
.productImage {
  width: 50%;
  margin: 0 auto;
}
.infoCardHeadline--info-card-banner{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #FFF;
}
.infoCardSubhead--info-card-banner{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFF;
}
.infoCardContainer--info-card-banner{
  position: relative;
  bottom: 275px;
  border: none;
}
/* Sobre inicio*/


/* Banner slider info card */

.infoCardContainer--home-banner-slider {
  width: 100%;
  height: 100%;
}

.infoCardHeadline {
  color: white;
}

.infoCardSubhead {
  color: white;
}

/* Jessica */
.imageElement--logo-sobre{
  width: 300px;
}
.imageElement--logo-product{
  width: 300px;
}
