@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.paragraph--form-text {
  font-size: 48px;
  width: 466px;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}
.paragraph--banner-text {
  max-width: 598px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
  position: relative;
  /* left: -20%; */
}
.paragraph--text-mobile1,
.paragraph--text-mobile2 {
  margin: 0;
  width: 217px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
}
.paragraph--text-mobile2 {
  margin: 5% 0;
}
.paragraph--text-form-mobile {
  margin: 20% 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  width: 272px;
  font-size: 30px;
}
.paragraph--footer-copyright {
  color: #727273;
  font-size: 0.75rem;
  margin-top: 0;
}
.paragraph--banner1-text{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  position: absolute;
  top: 100px;
  font-size: 32px;
  margin: 0;
  right: 25%;
  left: 25%;
}
.paragraph--banner2-text{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  position: absolute;
  top: 200px;
  font-size: 20px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--banner1-text-phone{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  position: absolute;
  top: 100px;
  font-size: 16px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--banner2-text-phone{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  position: absolute;
  top: 175px;
  font-size: 16px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--benefits-title{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin: 30px 0;
  font-size: 48px;
}
.heading--slider-title{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin: 30px 0;
  font-size: 48px;
}
.paragraph--learn, .paragraph--pick, .paragraph--get, .paragraph--train{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 36px;
  margin: 50px; 
}
.paragraph--train{
  position: relative;
  left: -30px;
}
<<<<<<< HEAD
.paragraph--benefits-title-phone{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  width: 272px;
  color: #FFF;
}
.paragraph--learn-phone, .paragraph--pick-phone, .paragraph--get-phone, .paragraph--train-phone{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 18px;
  margin: 10px; 
}
=======
.paragraph--minicart-text{
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.paragraph--slider-banner-text {
  margin: auto 10%;
}
>>>>>>> b931a4cd148aef6f41ea703935d28cc67a92c8fa
