@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

/* .imageElement--logoAWS {
  max-width: 500px;
} */
.imageElement--logo-phone-img {
	max-width: 240px;
}
.imageElement--logo-header {
	margin-left: 20px;
}

.imageElement--img-banner {
	width: 100vw;
	height: 300px;
	opacity: 0.9;
}
/* .imageElement--background-benefits {
  width: 1150px;
  height: auto;
  margin: 0 20px 40px;
} */
/* .imageElement--cover {
  object-fit: cover;
} */
.productImage {
	width: 50%;
	margin: 0 auto;
}
.infoCardHeadline--info-card-banner {
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
}
.infoCardSubhead--info-card-banner {
	font-family: "Noto Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
}
.infoCardContainer--info-card-banner {
	position: relative;
	bottom: 275px;
	border: none;
}

/* Banner slider info card */

.infoCardContainer--home-banner-slider {
	width: 100%;
	height: 100%;
}

.infoCardHeadline {
	color: white;
}

.infoCardSubhead {
	color: white;
}

/* Jessica */
.imageElement--logo-sobre {
	width: 300px;
}
.imageElement--logo-product {
	width: 300px;
}

/*Estilizando scrollbar*/
::-webkit-scrollbar {
	width: 8px;
	height: 6px;
	background-color: #e5eaef;
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: #727272;
	scroll-behavior: smooth;
	animation: scroll 10s linear 1s infinite;
}
/*Fim*/
