@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.menuContainer--footer-menu .styledLinkContainer {
  margin: 0.5rem 20px;
}
.menuContainer--footer-menu .styledLinkContent {
  color: #fff;
  /* font-size: 0.8rem; */
}
.styledLinkContent--learn-menu{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 36px;
  margin: 50px;
}
.styledLinkContent--learn-menu-phone{
  justify-content: center;
}
.styledLinkContent--learn-menu-phone{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #FFF;
  font-size: 18px;
  margin: 10px 10px 30px;
}