@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.paragraph--form-text {
  font-size: 48px;
  width: 466px;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}
.paragraph--banner-text {
  max-width: 598px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
  position: relative;
  /* left: -20%; */
}
.paragraph--text-mobile1,
.paragraph--text-mobile2 {
  margin: 0;
  width: 217px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: left;
}
.paragraph--text-mobile2 {
  margin: 5% 0;
}
.paragraph--text-form-mobile {
  margin: 20% 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  width: 272px;
  font-size: 30px;
}
.paragraph--footer-copyright {
  color: #727273;
  font-size: 0.75rem;
  margin-top: 0;
}
.paragraph--banner1-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 100px;
  font-size: 32px;
  margin: 0;
  right: 25%;
  left: 25%;
}
.paragraph--banner2-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 200px;
  font-size: 20px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--banner1-text-phone {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 100px;
  font-size: 16px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--banner2-text-phone {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 175px;
  font-size: 16px;
  margin: 0;
  right: 5%;
  left: 5%;
}

.heading--slider-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  margin: 30px 0;
  font-size: 48px;
}

/*Inicio benefits session*/
.paragraph--benefits-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  margin: 30px 0;
  font-size: 48px;
}
.paragraph--text-benefits {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 36px;
  margin: 0 0 20px 0;
}
.paragraph--benefits-title-phone {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  width: 272px;
  color: #fff;
}
.paragraph--text-benefits-phone {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  margin: 10px;
}
/* Fim */

.paragraph--minicart-text {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.paragraph--slider-banner-text {
  margin: auto 10%;
}

/* Sessão sobre inicio */
.paragraph--section-one-title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}
.paragraph--section-two-title{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: 50px 0 0;
}
.paragraph--section-one-sobre-text {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  width: 718px;
  position: relative;
  right: 50px;
}
.paragraph--text-col-certificates {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
}
.paragraph--section-two-text {
  width: 555px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
