.flexRowContent--header{
    background-color: #232F3E;
}
.flexRowContent--header-mobile{
    align-items: center;
    background-color: #232F3E;
    justify-content: space-between;
}
.flexRowContent--flex-logo{
    margin-top: 5%;
    margin-bottom: 30%;
}
.flexCol--margin{
    width: 10%;
}
.flexRowContent--flex-1{
    margin-top: 5%;
    justify-content: space-around;
}
.flexRowContent--flex-2{
    margin-top: 5%;
}
.flexRow--logo-phone{
    margin-top: 10%;
    margin-bottom: 10%;
}
.flexColChild--logo-phone-col, .flexColChild--form-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.flexColChild--form-desktop{
   position: relative;
   right: -30%;
   width: 400px;
}