.inputs{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 10px;
}
.label{
    margin-bottom: 10px;
}
.input{
    padding: 5px;
}
.input:active, .input:focus{
    outline: none;
}
.submit{
    margin-top: 15px;
    padding: 10px;
    width: fit-content;
    align-self: center;
    background-color: #EC7211;
    color: #FFF;
    font-weight: 600;
    border: none;
}
