.container * {
    box-sizing: border-box;
}

.container a {
    color: inherit;
    text-decoration: none;
}

.container {
    color: white;
    margin: 1rem 0;
}

.background {
    position: relative;
    background-color: #232f3e;
    min-height: 300px;
    width: 1000px;
    margin: auto;
    font-size: 1.5rem;
}

.content {
    margin: auto;
    position: relative;
    top: 40px;
    height: 150px;
    width: 1000px;
    padding: 1rem 5rem;

    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h3 {
    margin: 0;
}

.link {
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.link a {
    position: relative;
    left: -50%;
}

@media (max-width: 1034px) {
    .content {
        padding: 1rem;
        width: 95%;
    }
    .background {
        width: 95%;
    }
}

@media (max-width: 935px) {
    .content {
        top: 10px;
        grid-template-columns: repeat(1, auto);
    }
    .content a {
        margin: .5rem 0;
    }
    .link {
        bottom: 25px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 410px) {
    .content {
        width: 100%;
    }

    .background {
        min-height: 350px;
    }
}
