.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    max-width: 320px;
    min-height: 273px;
    margin: auto;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-bottom: 10px;
}
.label {
    margin-bottom: 5px;
    margin-left: 5px;
}
.input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.6rem;
    transition: border 0.4s;
}
.input:active,
.input:focus {
    outline: none;
}
.button {
    box-sizing: border-box;
    background-color: #ec7211;
    color: white;
    width: 100%;
    align-self: center;
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem 0;
}

.button:hover {
    background-color: #ec7211dd;
}

.inputError {
    border: 1px solid red;
}

.errMsg {
    font-size: 0.8rem;
    width: 100%;
    color: red;
    text-align: center;
}

.errLabel {
    color: red;
}

.successMsg {
    color: grey;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}
